target/*
!target/my-crazy-eights-1.0-SNAPSHOT.jar
.git
.gitignore
node_modulestarget/*
            !target/my-crazy-eights-1.0-SNAPSHOT.jar
            .git
            .gitignore
            node_modules